body {
  background-image: url("./bamboo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

div.somen.block {
  background-image: url("./somen.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: 45%;
  position: fixed;
  margin: 0 auto;
  width: 33%;
  height: 100%;
  left: 33%;
}
